<div class="row navrow">
    <div class="container">
        <div class="row" style="display: inline-block;">
            <div class="logo">
                <img src="../../assets/images/logo.png" alt="" style="height: 65px;">
            </div>
            <div class="nvigation">
                <div class="row">
                    <a href="" class="nav-item"> Products</a>
                    <a href="" class="nav-item"> Solutions</a>
                    <a href="" class="nav-item"> Pricing</a>
                    <a href="" class="nav-login"> Login</a>
                    <a href="" class="nav-Get-Started">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>