<div class="row big-circle">
  
    <div class="row" style="display: flex;">
        <div class="col-md-6 small-circle">
            <div class="row">
                <p class="wmiss">We make it Super Simple</p>
                <div class="hrLine"></div>
            </div>
            <div class="hand-shake-image">
                <img src="../../assets/images/collect_img-video.png" style="width: 100%;" alt="">
            </div>
            <div class="row">
                <img src="../../assets/images/accounting_dots.svg" alt="" class="doted">
            </div>
        </div>
        <div class="col-md-6 claculator">
            <div class="row" style="display: flex;">
                <div class="col-md-6" style="padding-right: 0px;z-index: 1;">
                    <div class="card">
                        <div class="row">
                            <p class="header">Eligibility Calculator</p>
                        </div>
                        <div class="content">
                            <div class="row">
                                <p>Monthly Income</p>
                            </div>
                            <div class="row">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                <span>{{mothlyIncome | number}}</span>
                                  <mat-slider style="margin-top: -18px;"
                                  (input)="changeValueIncome($event)"
                                  tickInterval="1000"
                                  step="1000"
                                  [min]="min"
                                  [max]="max"
                                  aria-label="units"></mat-slider>
                                  <div class="row" style="margin-top: -6px;">
                                    <span class="rangemin">
                                        <i class="fa fa-inr " aria-hidden="true"></i>{{min | number}}
                                    </span>
                                   
                                    <span class="rangemax">
                                        <i class="fa fa-inr" aria-hidden="true"></i> {{max | number}}
                                    </span>
                                  </div>
                            </div>
                            <div class="row" style="margin-top: 40px;">
                                <p>Monthly Expense</p>
                            </div>
                            <div class="row">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                <span>{{monthlyExpense | number}}</span>
                                <mat-slider  style="margin-top: -17px;"
                                tickInterval="1000"
                                step="1000"
                                min="0"
                                max="300000" 
                                    (input)="changeValueExpences($event)"  
                                    aria-label="units">
                                </mat-slider>
                            </div>
                            <div class="row"  style="margin-top: 20px;">
                                <mat-form-field style="width: 100%;" [(ngModel)]="months">
                                    <mat-label>Repayment Tenure</mat-label>
                                    <mat-select >
                                        <mat-option [value]=6>6 Months</mat-option>
                                        <mat-option [value]=12>12 Months</mat-option>
                                        <mat-option [value]=18>18 Months</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                 <!-- {{isExisting}} -->
                                <p style="display: inline-block;">Do you have any existing loans ?</p>
                                <mat-slide-toggle style="float: right;" (change)="isLoanExisting($event)" ></mat-slide-toggle>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                    <mat-form-field  class="example-full-width" style="width: 100%;">
                                        <mat-label>Emi of existing loans(Optional)</mat-label>
                                        <input [disabled]="isExisting" type="number" matInput  placeholder="Emi of existing loans(Optional)">
                                    </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="padding-left: 0px;">
                    <div class="card details">
                        <span class="dis" style="margin-top: 35px;">Loan Amount</span>
                        <p class="amount">
                            <i class="fa fa-inr" aria-hidden="true" style="color: white;"></i>
                            100,000</p>
                        <span class="dis">Your EMI will be</span>
                        <p class="amount">
                            <i class="fa fa-inr" aria-hidden="true" style="color: white;"></i>
                            15,000</p>
                        <a href="" class="getmoney">GET MONEY</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
      <div class="row" style="margin-top:-10px">
                 <img src="../../assets/images/accounting_dots.svg" alt="" class="seconddoted" >
            </div>
    <div class="row sol_wave_bg">
        <div class="container" style="margin-top: 10%;padding-bottom: 2%;">
            <div class="row row-flax">
                <div class="col-md-3">
                    <div class="card change-color-card">
                        <img src="../../assets/images/Get Paid Instantly.png" alt="" style="margin-bottom: 10px;">
                        <p class="heading">Quick cash disbursement</p>
                        <p class="disc">Get terms loans that your business needs within 72 hrs</p>
                    </div>
                    <div class="card change-color-card">
                        <img src="../../assets/images/Low interest rate.png" alt="" style="margin-bottom: 10px;">
                        <p  class="heading">Low-interest rate</p>
                        <p class="disc">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
                    </div>
                    <div class="card change-color-card">
                        <img src="../../assets/images/Secure Payments.png" alt="" style="margin-bottom: 10px;">
                        <p class="heading">Zero Paperwork</p>
                        <p class="disc">Get started instantly by submitting only your basic details & bank statements</p>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top: 8%;">
                    <div class="card change-color-card">
                        <img src="../../assets/images/freelancer_feature_icon_6@1.5x.png" alt="" style="margin-bottom: 10px;">
                        <p class="heading" >Ace your business finances</p>
                        <p class="disc">Manage banking, accounting & everything in between, on one platform</p>
                    </div>
                    <div class="card change-color-card">
                        <img src="../../assets/images/Covid.png" alt="" style="margin-bottom: 10px;">
                        <p class="heading">Loans to fight COVID-19</p>
                        <p class="disc">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <p class="bo">Boost your business with Open</p>
                        <div class="hrLinebo"></div>
                        <p class="gyh">Get your hands on a term loan that’s crafted for your business</p>
                    </div>
                    <div class="row" style="padding-top: 10%;">
                        <a href="" class="gaoabutton">Get an Open Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>