.big-circle {
    background-image: url("../../assets/images/circle.svg");
    background-repeat: no-repeat;
    background-position-y: -16%;
    background-position-x: 110%;
    width: 100%;
    padding-top: 145px;
    .small-circle {
        background-position-x: -29%;
        background-size: 60%;
        background-repeat: no-repeat;
        background-image: url("../../assets/images/blob-small.svg");
        .wmiss {
            font-size: 40px;
            width: 50%;
            line-height: 40px;
            margin-top: 10%;
            margin-left: 20%;
            opacity: 1;
            color: #222222;
        }
        .hrLine {
            margin-left: 20%;
            height: 6px;
            border-radius: 10px;
            background: #663399;
            width: 28%;
            margin-bottom: 100px;
        }
        .hand-shake-image {
            width: 50%;
            margin-left: 20%;
        }
        .doted {
            text-align: right;
            display: flex;
            margin-top: -35px;
            margin-left: 40%;
        }
    }
    .claculator {
        .card {
            background-color: white;
            box-shadow: 0px 2px 5px -2px #cdc3c3;
            border-radius: 10px;
            margin-top: 23%;
            .content {
                padding: 25px;
                p {
                    font-size: 13px;
                    color: #68626f94;
                    font-weight: 700;
                    margin-bottom: 0px;
                }
                .rangemax {
                    font-size: 10px;
                    float: right;
                    color: #7c79809c;
                    font-weight: 600;
                }
                .rangemin {
                    font-size: 10px;
                    float: left;
                    font-weight: 600;
                    color: #7c79809c;
                }

                span {
                    margin-left: 5px;
                    font-size: 15px;
                    font-weight: 600;
                    color: #2a173e;
                }
            }
            .header {
                text-align: center;
                padding: 10px;
                background: #f0f8ff3d;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-right-radius: 10px;
            }
        }
        .details {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background: #663399;
            color: white;
            margin-top: 92%;
            margin-left: 5px;
            .getmoney {
                margin: auto;
                display: block;
                padding: 10px 10px 10px 10px;
                border: 1px solid;
                border-radius: 32px;
                margin-top: 35px;
                text-decoration: none;
                text-align: center;
                margin-bottom: 45px;
                background: white;
                color: rebeccapurple;
                font-weight: 700;
            }
            .getmoney:hover {
                margin: auto;
                display: block;
                padding: 10px 10px 10px 10px;
                border: 1px solid;
                border-radius: 32px;
                margin-top: 35px;
                text-decoration: none;
                color: white;
                text-align: center;
                margin-bottom: 45px;
                background: rebeccapurple;
                color: white;
                font-weight: 700;
            }
            .amount {
                color: white;
                text-align: center;
                font-weight: 700;
                font-size: 19px;
            }
            .dis {
                text-align: center;
                font-size: 14px;
                font-weight: normal;
                margin: auto;
                display: block;
                opacity: 1;
                margin-top: 25px;
                margin-top: 25px;
                color: #e4e4e478;
            }
        }
    }
    .sol_wave_bg {
        background-image: url("../../assets/images/sol_wave_bg.svg");
        background-repeat: no-repeat;
        margin-top: -70px;
    }
}
.mat-slider-horizontal {
    height: 48px;
    width: 100%;
}
::ng-deep.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
    background-color: #663399;
}
::ng-deep.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
    background-color: #7d6c72;
}
::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #663399;
}
::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #66339999;
}
.card {
    // background: transparent url("img/Rectangle Copy 23.png") 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #2321321f;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    background: white;
    .heading {
        color: #333333;
        font-weight: 500;
        font-size: 16px;
    }
    .disc {
        color: #999999;
        font-size: 12px;
    }
}
.row-flax {
    display: flex;
}
.bo {
    color: #222222;
    font-size: 25px;
    width: 40%;
    line-height: 25px;
    font-weight: 700;
    margin-top: 38%;
    margin-left: 10%;
}
.hrLinebo {
    background-color: #707070;
    height: 5px;
    border-radius: 10px;
    width: 10%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gyh {
    color: #777777;
    font-size: 18px;
    margin-left: 10%;
    width: 65%;
}
.gaoabutton {
    margin-left: 10%;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
    border: 2px solid;
    text-decoration: none;
}
.gaoabutton:hover {
    margin-left: 10%;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
    border: 2px solid white;
    background: #663399;
    text-decoration: none;
    color: white;
}
.change-color-card:hover {
    background: #663399;
    color: white;
    .heading {
        font-weight: 500;
        font-size: 16px;
        color: white;
    }
    .disc {
        font-size: 12px;
        opacity: 1;
        color: white;
    }
}

::ng-deep.mat-slider-horizontal {
    height: 33px !important;
    width: 100%;
}
::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #663399;
    width: 18px;
    height: 18px;
    bottom: -8.5px;
    border: 3px solid white;
    border-radius: 50%;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #663399;
}
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #663399;
}
::ng-deep .mat-form-field {
    font-family: "Open Sans", sans-serif;
}
input[type="number"] {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #2a173e;
}
mat-label {
    color: #2a173e;
    font-family: "Open Sans", sans-serif;
}
mat-select {
    color: #2a173e;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.seconddoted{
    margin-right: 3%;
    display: block;
    margin-left: auto;
}